<div style="display: flex; align-items: center;" >
  <svg routerLink="" style="cursor:pointer;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
  <h3 class="m-0 ml-2">Experiências Profissionais</h3>
</div>
<hr class="solid mt-0">

<div class="text-center" >
  <div class="card" >
    <div class="card-body">
      <div class="card-text">
        <span><b>Iteris consultoria de software LTDA</b></span>
        <div class="card-text"><span></span>Cargo: Estagiário de consultoria </div>
        <div class="card-text"><span>05/2022 - Atual</span></div>
        <div class="card-text"><span>Funções: Atualmente atuando na área de dados da consultoria, atuando com engenharia de dados utilizando as ferramentas da Qlik e SQL </span></div>
      </div>
    </div>
  </div>
  <br>

  <div class="card" >
    <div class="card-body">
      <div class="card-text">
        <span><b>KNN Idiomas</b></span>
        <div class="card-text"><span>Cargo: Professor de inglês</span></div>
        <div class="card-text"><span>11/2019 - 04/2022</span></div>
        <div class="card-text">
          <p>
            Funções: Preparar e ministrar aulas de inglês para jovens e adultos dos níveis básico ao avançado, corrigir atividades e fazer o acompanhamento pedagógico.
          </p>
        </div>

      </div>
    </div>
  </div>
  <br>
</div>
