<div class="container text-center" >
  <div class="row" style="display: flex;">
    <div style=" display:flex; align-items: center;">
      <div class="col-sm-4">
        <div class="p-3 m-0 border-0 bd-example">
          <img  width="300" height="300"
          src="../assets/FotoPerfil.jpeg"
          class="rounded float-start" alt="...">
        </div>
      </div>

      <div class="col-sm-8">
        <div class="p-3 m-0 border-0 bd-example">
          <div class="card">
            <div class="card-body" style="font-weight: bold;">
              Sobre:
            </div>
            <div class="card-text">
              Goianésia - GO, Brasil
            </div>
            <div class="card-text">
              RU: 3577028
            </div>
            <div class="card-text">
              <a href=" http://linkedin.com/in/lucas-gabriel0205" target="_blank"> Linkedin</a> |
              <a href="https://github.com/borgeslucaass" target="_blank"> Github</a>
            </div>
            <div class="card-body">
              <p>
                Olá, sou o Lucas e tenho 20 anos, atualmente estou cursando Análise e Desenvolvimento de Sistemas pela UNINTER. Já trabalhei como professor de inglês e desde o ensino médio me interessei por TI, então ao terminar, decidi cursar ADS. Atualmente estou atuando como estagiário na área de engenharia de dados na Iteris e trabalhando com tecnologias como SQL, Qlik e outras no segmento de BI. Possuo também noções e conhecimentos em Apache Spark, Azure Pipelines, Power BI, Power BI serviço e Modelagem dimensional. No momento estou focado em me aprofundar nos conhecimentos das tecnologias que utilizo no dia a dia do estágio e em me desenvolver pessoalmente e profissionalmente.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="p-3 m-0 border-0 bd-example">
  <hr class="solid">
</div>

<div class="container overflow-hidden text-center">
  <div class="row gx-5" >

    <div class="col" routerLink="formacao" style="cursor: pointer;">
      <div class="p-3 border bg-light">Formação Acadêmica</div>
    </div>


    <div class="col" routerLink="experiencias" style="cursor: pointer;">
      <div class="p-3 border bg-light">Experiências Profissionais</div>
    </div>


    <div class="col" routerLink="conhecimento" style="cursor: pointer;">
      <div class="p-3 border bg-light">Conhecimentos</div>
    </div>

  </div>
</div>

<div class="p-3 m-0 border-0 bd-example">
  <hr class="solid">
</div>

<div class="container">
  <app-contato></app-contato>
</div>
