<div style="display: flex; align-items: center;" >
  <svg routerLink="" style="cursor:pointer;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
  <h3 class="m-0 ml-2">Conhecimentos</h3>
</div>
<hr class="solid mt-0">

<div>
  <!-- class="text-center" -->
  <div class="card" >
    <div  class="container" style="display: flex; align-items: center;" >
      <div class="card-title m-0 mt-2">Habilidades</div>
    </div>
    <hr class="solid mt-0 ml-3 mr-3">
    <div class="text-center">
      <div class="card-text"> - Comunicação;</div>
      <div class="card-text"> - Trabalho em equipe;</div>
      <div class="card-text"> - Organização;</div>
      <div class="card-text"> - Fácil aprendizagem.</div>
    </div>
  </div>
  <br>

  <div class="card" >
    <div  class="container" style="display: flex; align-items: center;" >
      <div class="card-title m-0 mt-2">Conhecimentos técnicos</div>
    </div>
    <hr class="solid mt-0 ml-3 mr-3">
    <div class="text-center">
      <div class="card-text"> - Lógica de programação;</div>
      <div class="card-text"> - Python;</div>
      <div class="card-text"> - POO;</div>
      <div class="card-text"> - SQL;</div>
      <div class="card-text"> - Git/Github;</div>
      <div class="card-text"> - C#;</div>
      <div class="card-text"> - Web API com C#, Entity Framework .NET;</div>
      <div class="card-text"> - Power BI/ Power BI online;</div>
      <div class="card-text"> - ETL;</div>
      <div class="card-text"> - Pyspark;</div>
      <div class="card-text"> - Modelagem Dimensional;</div>
      <div class="card-text"> - Azure/ Azure Pipelines;</div>
      <div class="card-text"> - Qlik.</div>
    </div>
  </div>
  <br>

  <div class="card" >
    <div  class="container" style="display: flex; align-items: center;" >
      <div class="card-title m-0 mt-2">Cursos extracurriculares</div>
    </div>
    <hr class="solid mt-0 ml-3 mr-3">
    <div class="text-center">
      <div class="card-body">
        <div class="card-text"><b>Trilha Decola - Data and Analytics</b></div>
        <div class="card-text">Iteris Trainning Center</div>
        <div class="card-text">2022</div>
      </div>
      <div class="card-body">
        <div class="card-text"><b>Modelagem de Banco de Dados</b></div>
        <div class="card-text">Alura</div>
        <div class="card-text">2022</div>
      </div>
      <div class="card-body">
        <div class="card-text"><b>ETL com Integration Services: transformação de dados</b></div>
        <div class="card-text">Alura</div>
        <div class="card-text">2022</div>
      </div>
      <div class="card-body">
        <div class="card-text"><b>ETL com Integration Services: modelo de dados</b></div>
        <div class="card-text">Alura</div>
        <div class="card-text">2022</div>
      </div>
      <div class="card-body">
        <div class="card-text"><b>Business Intelligence: trabalhando com Data Warehouse</b></div>
        <div class="card-text">Alura</div>
        <div class="card-text">2022</div>
      </div>
    </div>
  </div>
  <br>
</div>
